<table class="table">
  <thead>
    <tr>
      <th>Statistic</th>
      <th>Value</th>
    </tr>
  </thead>
  <tr>
    <td>Best 1 minute power</td>
    <td><%= Math.round(bestOneMinutePower) %></td>
  </tr>
  <tr>
    <td>Best 5 minute power</td>
    <td><%= Math.round(bestFiveMinutePower) %></td>
  </tr>
  <tr>
    <td>Best 10 minute power</td>
    <td><%= Math.round(bestTenMinutePower) %></td>
  </tr>
  <tr>
    <td>Best 20 minute power</td>
    <td><%= Math.round(bestTwentyMinutePower) %></td>
  </tr>
</table>
